.topblock{
	padding: 20px;
	float: left;
	clear: both;
	width: 100%;
}

.itemtable{
	padding: 20px;
	float: left;
	clear: both;
	width: 95%;
}

.itemtable .title{
	float: left;
	clear: both;
	width: 100%;
	background-color:aqua;
}

.itemtable .row1{
	float: left;
	clear: both;
	width: 100%;	
}

.itemtable .row2{
	float: left;
	clear: both;
	width: 100%;
}

.itemtable .row1 .description{
	float: left;
	clear: none;
	background-color:silver;
	width: 70%;
}

.itemtable .row1 .maxbid{
	float: left;
	clear: none;
	background-color:hotpink;
	width: 10%;	
}

.itemtable .row1 .enddate{
	float: left;
	clear: none;
	background-color:silver;
	width: 20%;
}

.itemtable .row2 .description{
	float: left;
	clear: none;
	background-color:silver;
	width: 70%;
}

.itemtable .row2 .maxbid{
	float: left;
	clear: none;
	background-color:hotpink;
	width: 10%;	
}

.itemtable .row2 .enddate{
	float: left;
	clear: none;
	background-color:silver;
	width: 20%;
}

.bidtable{
	padding: 20px;
	float: left;
	clear: both;
	width: 95%;
}

.bidtable .title{
	float: left;
	clear: both;
	width: 100%;
	background-color:aqua;
}

.bidtable .row1{
	float: left;
	clear: both;
	width: 100%;	
}

.bidtable .row2{
	float: left;
	clear: both;
	width: 100%;
}

.bidtable .row1 .img{
	float: left;
	clear: none;
	background-color:silver;
	width: 10%;
}

.bidtable .row1 .description{
	float: left;
	clear: none;
	background-color:silver;
	width: 45%;
}

.bidtable .row1 .bid{
	float: left;
	clear: none;
	background-color:hotpink;
	width: 10%;	
}

.bidtable .row1 .maxbid{
	float: left;
	clear: none;
	background-color:silver;
	width: 10%;
}

.bidtable .row1 .endDate{
	float: left;
	clear: none;
	background-color:hotpink;
	width: 25%;	
}

.bidtable .row2 .img{
	float: left;
	clear: none;
	background-color:silver;
	width: 10%;
}

.bidtable .row2 .description{
	float: left;
	clear: none;
	background-color:silver;
	width: 45%;
}

.bidtable .row2 .bid{
	float: left;
	clear: none;
	background-color:hotpink;
	width: 10%;	
}

.bidtable .row2 .maxbid{
	float: left;
	clear: none;
	background-color:silver;
	width: 10%;
}

.bidtable .row2 .endDate{
	float: left;
	clear: none;
	background-color:hotpink;
	width: 25%;	
}